
.app-wrapper{
  display: grid;
  grid-template-areas: 
  "h h"
  "n c";
  grid-template-rows:   70px 1fr;
  grid-template-columns: 180px 1fr ;
  /* grid-gap: 10px; */
  background-color: #C2B0EC;
}

.app-wrapper-content{
    grid-area: c;
    background-color: #5B68C0;
    color: burlywood;
}

